__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec


*.nib
*.log
*.sqlite3


.idea/
*.iml


venv/
env/
ENV/
*.venv


*.env
*.local

# Системні файли
.DS_Store
Thumbs.db
Desktop.ini


*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.tox/
*.nox/
*.hypothesis/
*.pytest_cache/